.cont{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-color: black;
}
.card{
    background-color: red;
    width: 14%;
    height: 50%;
}